/* Set the background color of the entire page */
body {
  background: #00b3e6;
}

/* Style all <div> elements */
div {
  width: 700px;
  margin: auto; /* centers the div */
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* Style the element with the id of main-header */
#main-header {
  font-size: 22px;
}

/* Style all elements with the class perspective-questions */
.perspective-questions {
  font-style: italic;
}
